<%- include('../partials/header') %>
<main>
    <h2>About This Website</h2>
    <p id="about-description">
        This website is a simple forum for our discord users where users can create threads, edit them, and add special entries to the "Blank" page. The Blank page is dedicated to a playful collection of misspelled league of legends champion names by our friend Blank, each with an image and description. The site demonstrates basic CRUD operations, file uploads, and dynamic content using Node.js, Express, EJS, and MongoDB.
    </p>
</main>
<%- include('../partials/footer') %>
